body{
    background-color:#00ffcc;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;
     align-items: center
    }
#title{
    outline-style: double;
    outline-width: 5px;
    outline-color:blue;
    padding: 30px;
}

#menu{
    outline-style: solid;
    outline-width: 5px;
    outline-color:blue;
    padding: 5px;

    
}


#about{
    text-align: center;
}
#profilePic{
    display: block;
    margin-left: 125px;
    margin-right: 90px;
    outline-width: 5px;
    outline-style: solid;
    
}

#games{
    display: block;
}

#profile{
    background-color: #0066ff;
    float: left;
    outline-style: dotted;
    outline-color: blanchedalmond;
    outline-width: 10px;
    text-align: left;
    padding: 5px
}

#guildCard{
    float: center;
}

#scs{
    position: sticky;
    float: center;
}

#tekken{
    float:center;
    margin-top: 100px;
}

#iron{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #660066; 
}

h3{
    color: #000099;
}

#fave{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000099;
    outline-style: dashed;
    outline-color: #003300;
    outline-width: 5px;
}

#backTop{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    font-size: 20px;
}