.yuna-background{
    position: fixed;
    left: 0;
    top: 0;
    background: url("../images/yuna-sending.jpg") center center;
    width: 100vw;
    height: 100vh;
    z-index: -9000;
}
.yuna-background-dark {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #00000077;
    width: 100vw;
    height: 100vh;
    z-index: -8000;
}
#profilePic{
    
    outline-style:solid;
    outline-color: black;
    outline-width:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.titleName{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: fantasy;
    
}

#title{
    text-align: center;
    width: 500px;
    margin: auto;
    float: center;
    outline-style: solid;
    outline-width: 5px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#desc{
    text-align: center;
    width: 500px;
    margin: auto;
    float: center;
    outline-style: solid;
    outline-width: 5px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#menu{
    position: static; text-align: center;
    width: 500px;
    margin: auto;
    float: center;
    outline-style: solid;
    outline-width: 5px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about{
    position: static; text-align: center;
    width: 500px;
    margin: auto;
    float: left;
    outline-style: solid;
    outline-width: 5px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#profilePic{
    margin:auto
}

#aboutContents{
    position: static; text-align: center;
    width: 500px;
    margin: auto;
    float: center;
    outline-style: solid;
    outline-width: 5px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#games{
    position: static; text-align: center;
    width: 500px;
    margin: auto;
    outline-style: solid;
    outline-width: 5px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#guildCard{
    float:center;
}
#mhw{
    position: static; text-align: center;
    width: 500px;
    margin: auto;
    outline-style: solid;
    outline-width: 5px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}







