body{background-color:#00ffcc;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;
     align-items: center
    }
#title{
    outline-style: double;
    outline-color: #ffff00;
}

#about{
    text-align: center;
}
#profilePic{
    display: block;
    margin-left: 125px;
    margin-right: 90px;
    outline-width: 5px;
    outline-style: solid;
    
}

#games{
    display: block;
}

#profile{
    background-color: #0066ff;
    float: left;
    outline-style: dotted;
    outline-color: blanchedalmond;
    outline-width: 10px;
    text-align: left;
    padding: 5px
}

#guildCard{
    float: left;
    margin-right:100px;
}

#scs{
    position: fixed;
    float: right;
    margin-left: 100px;
}

#tekken{
    float:center;
    margin-top: 100px;
}